img {
    height: 350px;
    width: auto;
    max-width: 400px;
  }
  
  .selected-book {
    background: #417FA6;
  }
  
  .card {
    background: #417FA6;
    color: white;
  }
  
  .form-control {
    margin-bottom: 2%;
  }