<div class="container-fluid mt-2 mb-4">
  <h2 class="text-center">Authors</h2>

  <div class="col" *ngIf="selected">
    <app-author-detail [authorDetail]="selectedAuthor"></app-author-detail>
  </div>
  <br>
  <div class="row mb-8" style="display: flex; justify-content: center; align-items: center;">
    <div *ngFor="let author of authors" class="book-card col mb-2" style="max-width: 14rem; height: 23rem;">
      <div class="card p-2 mb-2" style="width: 12rem; height: 23rem">
        <a class="card-block text-decoration-none" (click)="selectAuthor(author)">
          <img class="card-img-top" style="height: 14rem;" src="{{ author.image }}" alt="{{ author.name }}" />
          <div class="card-body black-text">
            <h5 class="card-title">{{ author.name }}</h5>
            <p class="card-text">
              {{ author.birthDate }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
  </div>
</div>