/* You can add global styles to this file, and also import other style files */

::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #8d21e8;
    color: #fefefe;
    cursor: default;
  }